/* h2 {
    color: teal;
    background-color: #6c0909;
}

button {
    color: magenta;
    background-color: green;
}

p {
    color: white;
    background-color: rgb(255, 197, 34);
} */

h2 {
    text-decoration: red underline;
    text-align: center;
    font-size: 2em;
    font-family: 'Arial sans-serif';

}

p {
    text-align: right;
    font-weight: 700;
    line-height: 2;
    font-family: monospace;
}

span {
    text-decoration: red wavy underline 2px;
    letter-spacing: 20;
}